  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
.container{
    top:0px;
    
}

  video{
    position:relative;
    display:block;
    background: 0%;
    width:100%; 
  }
  
  .siz4{
    margin-left: 350px;
    width: 50px;
    
    }

    
.center{
margin-left: 400px;


}

  
    .container1{
        background-color:cadetblue;
        height: 100%;
align-content: center;
      }
    .siz{
        font-size :14px;
      }
  .footer{
    .containerfooter{
          //padding-bottom: 0px;
    //margin-bottom: 0px;
      //padding-top: 50px;
  }
    //bottom: 0;
    margin-block-start: 0px;
      background-color:black// #D1C4E9;
      //padding-bottom: 0px;
      //margin: 0px auto;
      //padding: 200px 100px 200px 0px; 
  }
.lead{

    height: 1000px ;
}


  header {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }